.portfolio {
  padding: var(--padding-vertical-global) var(--padding-horizontal-global);
}

.portfolio-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-subtitle-container {
  margin-bottom: 44px;
}
